@import helper._
@import java.util
@(implicit request: Http.Request)

@main("Accueil"){
 
  <div class="acceuil-containeur"> 
   	<center> 
  	<img src="@routes.Assets.versioned("images/logo.jpg")" class="profile-img-card0" 
   	style="width: 700px;height:550px;  margin-top: 80px;"> 
 	 </center>       
	</div> 
 
	<forme>
		<input type="hidden" id="listesID" name="listesID" value=""></input>
	</forme>
	
<!--   <div id="container1" class="col-sm-6" style=" padding-top: 25px"></div> -->
<!--   <div id="container3" class="col-sm-6 highcharts-figure"></div> -->
<!--   <div id="container2" class="col-sm-6 highcharts-figure" ></div> -->
<!--   <div id="container4" class="col-sm-6 highcharts-figure" ></div>  -->
  
}

<script type="text/javascript">
       
    </script>