@(user:models.tables.pojos.Users )(implicit request: Http.Request) 

@import helper._

@mainFirst("Changer mot de passe") {


<h3 style="text-align: center">Gestion des utilisateurs</h3>


<div class="card-header" id="titre_header">
	<div class="row">

		                    
		<form method="POST" name="form"	action="@controllers.routes.AuthenticationCtrl.firstConnexion() "	class="form-horizontal col-md-12 col-sm-12 col-xs-12" role="form">
			@helper.CSRF.formField
			 <input value="@user.getNomPrenom()" name="nomPrenom" type="hidden">
			 <input value="@user.getLogin()" name="login" type="hidden">
			 <input value="@user.getDroit()" name="droit" type="hidden">
			 <input value="@user.getEtat()" name="etat" type="hidden">
			<center>
				<fieldset
					style="color: #000; width: 65%; background-color: #DDE7E9; border-radius: 10px; font-size: 14px;">
					<br>

					<h6 style="color: #000;">
						<strong> <i>Première Connexion, Veillez Changer votre mote de passe s'il vous plaît !!!</i>
						</strong>
					</h6>
					<div class="row ">
					
						<div class="col-md-11">

							<br>
						
							<div class="form-group row">
								<label class="col-sm-2 col-form-label" for="prenom"><b>Password
										<font style="color: red; font-size: 14px;">*:</font>
								</b></label>
								<div class="col-sm-7">
									<input type="password" name="passe" required="required"
										value="" 
										class="form-control"
										placeholder="Entré votre nouvelle mot de passe"
										required="required" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 col-form-label" for="prenom"><b>Confirmation
										<font style="color: red; font-size: 14px;">*:</font>
								</b></label>
								<div class="col-sm-7">
									<input type="password" name="passeconfirm" required="required"
										value="" 
										class="form-control"
										placeholder="Veillez confirmer votre mot de passe"
										required="required" />
								</div>
							</div>
							
							
                  
						</div>

						<br>
						<br>
						
						<div class="row col-md-12">
							<div class="form-group" style="">
								
								<button type="submit" class="btn btn-primary">Valider</button>
							</div>
						</div>
						
				</fieldset>
			</center>
			<br>
		</form>
	</div>
</div>


}

