@import java.time.LocalDateTime
@import helper._
@import java.util
@import views.html.utils._
@(implicit request: Http.Request)

@main("Situations"){
<script type="text/javascript">
function openPopup(target, x, y, w, h) {
	var win = window.open(target, 'popup', 'height='+h+', width='+w+', top='+y+', left='+x+', toolbar=no, menubar=yes, location=no, resizable=yes, scrollbars=yes, status=no');
	win.window.focus();
	return false;
}

</script>

<hr>
<div class="card-header" id="titre_header">
				<div class="row">
		
			
			<br>
			@if(request.session.get("droit").get() == "Admin"){
			<center>
		
		<form  method="POST" name="form" action="@controllers.routes.ReglementCtrl.rapportAnnuel("situation_global_annuel")"  class="form-horizontal col-md-12 col-sm-12 col-xs-12" >
			@helper.CSRF.formField
			<fieldset style=" color:#000; width:90%; background-color:#DDE7E9; border-radius:10px; font-size:14px;" >
			
					<h6 style="color:#000;">
						<strong>
							<i> <font style="color:red;  font-size:14px;">Situations Global par année :</font> </i>	
						</strong>
					</h6>
					<center>
						<div class="form-group row">
						 
						 
						  	<label class="col-sm-1 col-form-label" for="nom" ><b>Année</b></label>
						  	<div class="col-sm-2">
								<input type="number" id="annee"  name="annee" placeholder="AAAA" class="form-control" />
							</div>

						  	 
						 <div class="col-sm-2">
						  	<button class="btn btn-success" type="submit" id="valider" name="Valider" title="Valider les informations" >	<i class="glyphicon glyphicon-print"></i> Imprimer</button> 
						</div>
						  </div>
				</center>
			
			
				</fieldset>
			
			</form>
			
			</center>
			
			
			<center>
		
		<form  method="POST" name="form" action="@controllers.routes.ReglementCtrl.rapportAnnuel("situation_depassement")"  class="form-horizontal col-md-12 col-sm-12 col-xs-12" >
			@helper.CSRF.formField
			<fieldset style=" color:#000; width:90%; background-color:#DDE7E9; border-radius:10px; font-size:14px;" >
			
					<h6 style="color:#000;">
						<strong>
							<i> <font style="color:blue;  font-size:14px;">Situations des dépassement Global par année :</font> </i>	
						</strong>
					</h6>
					<center>
						<div class="form-group row">
						 
						 
						  	<label class="col-sm-1 col-form-label" for="nom" ><b>Année</b></label>
						  	<div class="col-sm-2">
								<input type="number" id="annee"  name="annee" placeholder="AAAA" class="form-control" />
							</div>

						  	 
						 <div class="col-sm-2">
						  	<button class="btn btn-success" type="submit" id="valider" name="Valider" title="Valider les informations" >	<i class="glyphicon glyphicon-print"></i> Imprimer</button> 
						</div>
						  </div>
				</center>
			
			
				</fieldset>
			
			</form>
			
			</center>
			}
			
			@if(request.session.get("droit").get() == "SuperAdmin" || request.session.get("droit").get() == "Comptable" ){
						<center>
		
		<form  method="POST" name="form" action="@controllers.routes.AdherentCtrl.rapportBetwenne()"  class="form-horizontal col-md-12 col-sm-12 col-xs-12" >
			@helper.CSRF.formField
			<fieldset style=" color:#000; width:90%; background-color:#DDE7E9; border-radius:10px; font-size:14px;" >
			
					<h6 style="color:#000;">
						<strong>
							<i> <font style="color:green;  font-size:16px;">Etat de paiement par période </font> </i>	
						</strong>
					</h6>
						<div class="form-group row">
						 
						 
						  	<label class="col-sm-1 col-form-label" for="nom" ><b>Date début:</b></label>
						  	<div class="col-sm-2">
								<input type="date" id="tmpDate"  name="tmpDate" placeholder="JJ/MM/AAAA" class="form-control" />
							</div>
						  	<label class="col-sm-1 col-form-label" for="nom" ><b>Date fin:</b></label>
						  	<div class="col-sm-2">
								<input type="date" id="tmpDate2"  name="tmpDate2" placeholder="JJ/MM/AAAA" class="form-control" />
							</div>
						  	
						  	 
						 <div class="col-sm-2">
						  	<button class="btn btn-success" type="submit" id="valider" name="Valider" title="Valider les informations" >	<i class="glyphicon glyphicon-print"></i> Imprimer</button> 
						</div>
						  </div>
				
			
			
				</fieldset>
			
			</form>
			
			</center>
			
			<br>
			<center>
		
		<form  method="POST" name="form" action="@controllers.routes.AdherentCtrl.rapportAdhBetwenne()"  class="form-horizontal col-md-12 col-sm-12 col-xs-12" >
			@helper.CSRF.formField
			<fieldset style=" color:#000; width:90%; background-color:#DDE7E9; border-radius:10px; font-size:14px;" >
			
					<h6 style="color:#000;">
						<strong>
							<i> <font style="color:red;  font-size:14px;">Situations adherents par pariode </font> </i>	
						</strong>
					</h6>
						<div class="form-group row">
						 
						 
						  	<label class="col-sm-1 col-form-label" for="nom" ><b>Date début:</b></label>
						  	<div class="col-sm-2">
								<input type="date" id="tmpDate"  name="tmpDate" placeholder="JJ/MM/AAAA" class="form-control" />
							</div>
						  	<label class="col-sm-1 col-form-label" for="nom" ><b>Date fin:</b></label>
						  	<div class="col-sm-2">
								<input type="date" id="tmpDate2"  name="tmpDate2" placeholder="JJ/MM/AAAA" class="form-control" />
							</div>
						  	
						  	 <label class="col-sm-1 col-form-label" for="nom" ><b>Matricule Agent<font style="color:red;  font-size:12px;">*:</font></b></label>
						  	<div class="col-sm-2">
								<input type="number" id="partenaire"  name="adherent" 
								 placeholder="Ex: 01, 120, 292" class="form-control" required="required" />
							<input type="hidden" id="partenaireid" required="required" name="partenaireid">
						  	</div>
						 <div class="col-sm-2">
						  	<button class="btn btn-success" type="submit" id="valider" name="Valider" title="Valider les informations" >	<i class="glyphicon glyphicon-print"></i> Imprimer</button> 
						</div>
						  </div>
				
			
			
				</fieldset>
			
			</form>
			
			</center>
			
			<br>
			

			<center>
		
		<form  method="POST" name="form" action="@controllers.routes.ReglementCtrl.rapportAnnuel("situation_global_annuel")"  class="form-horizontal col-md-12 col-sm-12 col-xs-12" >
			@helper.CSRF.formField
			<fieldset style=" color:#000; width:90%; background-color:#DDE7E9; border-radius:10px; font-size:14px;" >
			
					<h6 style="color:#000;">
						<strong>
							<i> <font style="color:red;  font-size:14px;">Situations Global par année :</font> </i>	
						</strong>
					</h6>
					<center>
						<div class="form-group row">
						 
						 
						  	<label class="col-sm-1 col-form-label" for="nom" ><b>Année</b></label>
						  	<div class="col-sm-2">
								<input type="number" id="annee"  name="annee" placeholder="AAAA" class="form-control" />
							</div>

						  	 
						 <div class="col-sm-2">
						  	<button class="btn btn-success" type="submit" id="valider" name="Valider" title="Valider les informations" >	<i class="glyphicon glyphicon-print"></i> Imprimer</button> 
						</div>
						  </div>
				</center>
			
			
				</fieldset>
			
			</form>
			
			</center>
			
			
			<center>
		
		<form  method="POST" name="form" action="@controllers.routes.ReglementCtrl.rapportAnnuel("situation_depassement")"  class="form-horizontal col-md-12 col-sm-12 col-xs-12" >
			@helper.CSRF.formField
			<fieldset style=" color:#000; width:90%; background-color:#DDE7E9; border-radius:10px; font-size:14px;" >
			
					<h6 style="color:#000;">
						<strong>
							<i> <font style="color:blue;  font-size:14px;">Situations des dépassement Global par année :</font> </i>	
						</strong>
					</h6>
					<center>
						<div class="form-group row">
						 
						 
						  	<label class="col-sm-1 col-form-label" for="nom" ><b>Année</b></label>
						  	<div class="col-sm-2">
								<input type="number" id="annee"  name="annee" placeholder="AAAA" class="form-control" />
							</div>

						  	 
						 <div class="col-sm-2">
						  	<button class="btn btn-success" type="submit" id="valider" name="Valider" title="Valider les informations" >	<i class="glyphicon glyphicon-print"></i> Imprimer</button> 
						</div>
						  </div>
				</center>
			
			
				</fieldset>
			
			</form>
			
			</center>
			
			<center>
		
		<form  method="POST" name="form" action="@controllers.routes.ReglementCtrl.rapportBetwenne()"  class="form-horizontal col-md-12 col-sm-12 col-xs-12" >
			@helper.CSRF.formField
			<fieldset style=" color:#000; width:90%; background-color:#DDE7E9; border-radius:10px; font-size:14px;" >
			
					<h6 style="color:#000;">
						<strong>
							<i> <font style="color:red;  font-size:14px;">Situations Global par Période :</font> </i>	
						</strong>
					</h6>
					<center>
						<div class="form-group row">
						 
						 
						  	<label class="col-sm-1 col-form-label" for="nom" ><b>Date début:</b></label>
						  	<div class="col-sm-2">
								<input type="date" id="tmpDate"  name="tmpDate" placeholder="JJ/MM/AAAA" class="form-control" />
							</div>
						  	<label class="col-sm-1 col-form-label" for="nom" ><b>Date fin:</b></label>
						  	<div class="col-sm-2">
								<input type="date" id="tmpDate2"  name="tmpDate2" placeholder="JJ/MM/AAAA" class="form-control" />
							</div>
						  	
						  	 
						 <div class="col-sm-2">
						  	<button class="btn btn-success" type="submit" id="valider" name="Valider" title="Valider les informations" >	<i class="glyphicon glyphicon-print"></i> Imprimer</button> 
						</div>
						  </div>
				</center>
			
			
				</fieldset>
			
			</form>
			
			</center>
			}

			@if(request.session.get("droit").get() == "AGENT_CARD_ID" || request.session.get("droit").get() == "SuperAdmin" ||  request.session.get("droit").get() == "Admin" ){
				
		<form  method="POST" name="form" action="@controllers.routes.AdherentCtrl.impressionCarteMainsGlobal()"  class="form-horizontal col-md-12 col-sm-12 col-xs-12" >
			@helper.CSRF.formField
			<fieldset style=" color:#000; width:90%; background-color:#DDE7E9; border-radius:10px; font-size:14px;" >
			<center>
				<h6 style="color:#000;">
						<strong>
							<i> <font style="color:red;  font-size:14px;">Impression des cartes d'accès MAINS:</font> </i>	
						</strong>
					</h6>

			</center>
					
					<center>
						<div class="form-group row">
						 
						 
						  	<label class="col-sm-2 col-form-label" for="nom" ><b>Type :</b></label>
						  	<div class="col-sm-3">
								 <select class="form-control" required="required" id="type"  name="libelleCarte">
	                                    	<option value="">Selectionner le Type : </option>
	                              
	                               			 <option value="badge_principale">Cartes Globale Adhérents</option>
	                             			 <option value="badge_principale_ay">Cartes Globale Ayant droits</option>
                            </select>
							</div>

						  	 
						 <div class="col-sm-2">
						  	<button class="btn btn-success" type="submit" id="valider" name="Valider" title="Valider les informations" >	<i class="glyphicon glyphicon-print"></i> Imprimer</button> 
						</div>
						  </div>
				</center>
			
			
				</fieldset>
			
			</form>

			}

				</div>
</div>
<hr>

 
}

