@import java.time.LocalDateTime
@import helper._
@import utils._
@import java.util
@(viewMode:String,idReglement: Long,details: models.tables.pojos.ReglementDetail, adherent: models.tables.pojos.Adherent, 
reglementDetails: List[models.tables.pojos.ReglementDetail],totalRegler: Long, plafondAnnuel: Long)(implicit request: Http.Request)

@main("RembourssementDtail"){

<hr>
<div class="card-header" id="titre_header">
	<div class="row">

	<form  method="POST" name="form" action="@controllers.routes.ReglementCtrl.reglementDetailsave() "  class="form-horizontal col-md-12 col-sm-12 col-xs-12" role="form">
			@helper.CSRF.formField
			<input value="@viewMode"           name="viewMode" type="hidden">
			 <input value="@idReglement" name="reglement" type="hidden">
			 <input value="@adherent.getId()" name="adh" type="hidden">
			  <input value="@details.getId()" name="id" type="hidden">
			<center>
			<fieldset style=" color:#000; width:98%; background-color:#DDE7E9; border-radius:10px; font-size:14px;"  >
			<br>

					<h6 style="color:#000;">
						<strong>
							<i>Tous les champs avec <font style="color:red;  font-size:14px;">*</font> sont obligatoires</i>
						</strong>
					</h6>
			<div  class="row ">
			   
			    @if(adherent !=null){
			     <div class="col-md-12"><h5><u style="color: blue;"><b>Adhérent ref n°@adherent.getMatricule(), de @adherent.getNomAd  @adherent.getPrenomAd - @adherent.getTelephone(), </b></u> </h5><u style="color: green;"><h4>Le total des payement est de :@totalRegler F CFA</</h4></u></div>
				@if(totalRegler > plafondAnnuel){<u style="color: red;"><h4>Vous êtes en situation de dépassement, le total à remboursser à la mutuelle est de :@(totalRegler-plafondAnnuel) F CFA </</h4></u></div>}
				}
				<div class="col-md-12">

						<br>
						<div class="form-group row">
						  <label class="col-sm-2 col-form-label" for="libelle" ><b>Intitule<font style="color:red;  font-size:14px;">*:</font></b></label>
						  	<div class="col-sm-4">
								<input type="text" id="intitule" autocomplete="off" value="@details.getIntitule()" name="intitule"
											placeholder="Intitulé du détail" 
											class="form-control autocomplete"
											required="required"  @if( viewMode.equals("DELETE")){ disabled=disabled}/>
						  	</div>
						  	
						  	
						
						  	
						  	
						  	
						  	
						  	<label class="col-sm-2 col-form-label" for="libelle" ><b>Montant<font style="color:red;  font-size:14px;">*:</font></b></label>
						  	<div class="col-sm-4">
								<input type="number" id="montant" autocomplete="off" value="@details.getMontant()" name="montant"
											placeholder="montant detail" 
											class="form-control autocomplete"
											required="required" @if( viewMode.equals("DELETE")){ disabled=disabled} />
						  	</div> 
						  	
						  

			
				</div>
			<div class="row" style="color:#000;">
				<div class="col-md-3"></div>
				<div class="col-md-6">
				<a class="btn btn-primary" href="@controllers.routes.AdherentCtrl.addRembourssement(adherent.getId())" name="Annuler" value="Retour">Retour</a>
					 @if( viewMode.equals("CREATE")){
					<button class="btn btn-success" type="submit" id="valider" name="Valider" title="Valider(Enregistrer les informations)" >
						<i class="glyphicon glyphicon-save"></i> Enregistrer
					</button> 
					}   
					@if( viewMode.equals("EDIT")){ 
					<button class="btn btn-warning" type="submit" id="valider" name="Valider" title="Valider(Modifier les informations)">
						<i class="glyphicon glyphicon-edit"></i> Modifier
					</button> } 
					@if( viewMode.equals("TRAITER")){ 
					<button class="btn btn-success" type="submit" id="valider" name="Valider" title="Valider(Enregistrer les informations)" >
						<i class="glyphicon glyphicon-save"></i> Valider 
					</button> } 
					@if( viewMode.equals("DELETE")){ 
					<button class="btn btn-danger" type="submit" id="valider"
					 name="Valider" title="Supprimer l'examen"  onclick="return window.confirm('Voulez vous supprimer cet elements?');">
						<i class="glyphicon glyphicon-edit"></i> Supprimer
					</button> } 
					
<!-- 				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
<!-- 				<button class="btn btn-danger" type="submit"  name="Annuler" value="Annuler">Annuler</button> -->
				</div>
				<div class="col-md-3"></div>
			</div>
			<br>
			</fieldset></center>
			<br>
		</form>
	</div>
	
</div>
<hr>
<section class="container">
	
	<div class="row">

		<div class = "col-md-12 table-responsive">
		
				<table class="dta-tbl table table-bordered table-striped text-center" >
				<center><div class="badged-title"><h4> <b>L</b>istes des reglements détail de l'Adhérent<br></div></center>
					<thead>
						 <tr>
							
							<th style="text-align: center"><b>Intitule</b></th>
							<th style="text-align: center"><b>Montant</b></th>
							@if(request.session.get("droit").get() == "SuperAdmin" || request.session.get("droit").get() == "Comptable" || request.session.get("droit").get() == "Admin"){
							<th style="text-align: center"><b>Action</b></th>
							}
						 </tr>
					 </thead>
					 <tbody>
						@for(c <-reglementDetails){
							 <tr>
							  <td>@c.getIntitule() </td>
								<td>@c.getMontant() </td>
								
								<td>
								@if(request.session.get("droit").get() == "SuperAdmin" || request.session.get("droit").get() == "Comptable" || request.session.get("droit").get() == "Admin"){
								 <a id="btnReadWrite" class="btn btn-primary" title="Modification"
									href="@controllers.routes.ReglementCtrl.reglementDetailForm("EDIT", c.getReglement(), adherent.getId(),c.getId()) " ><i class="glyphicon glyphicon-edit"></i></a>	
                                    <a id="btnDelete" class="btn btn-danger"
                                       title="Supprimer"
                                       href="@controllers.routes.ReglementCtrl.reglementDetailForm("DELETE", c.getReglement(), adherent.getId(),c.getId()) "><i class="glyphicon glyphicon-trash"></i></a>
                               }
                               
<!--                               @if(request.session.get("droit").get() == "Admin") {-->
<!--								 <a id="btnReadWrite" class="btn btn-primary" title="Modification"-->
<!--									href="@controllers.routes.ReglementCtrl.reglementDetailForm("EDIT", c.getReglement(), adherent.getId(),c.getId()) " ><i class="glyphicon glyphicon-edit"></i></a>	-->
<!--                                     }-->
                                </td>
                                
							 </tr>
							}
					  </tbody>
				</table>
				
	
		</div>
	</div>
  </section>
  
}


<script >
function openPopup(target, x, y, w, h) {
	var win = window.open(target, 'popup', 'height='+h+', width='+w+', top='+y+', left='+x+', toolbar=no, menubar=yes, location=no, resizable=yes, scrollbars=yes, status=no');
	win.window.focus();
	return false;
}



</script>

