@import java.time.LocalDateTime
@import helper._
@import java.util
@import utils._
@(listes: List[models.tables.pojos.VReglementGlobalByAdherent])(implicit request: Http.Request)

@main("Rembourssement"){

<hr>
<div class="card-header" id="titre_header">

	<div class="col-md-12 col-sm-12 col-xs-12 row">

	<center>
		
		<form  method="POST" name="form" action="@controllers.routes.ReglementCtrl.rapportAnnuel("situation_global_annuel")"  class="form-horizontal col-md-12 col-sm-12 col-xs-12" >
			@helper.CSRF.formField
			<fieldset style=" color:#000; width:90%; background-color:#DDE7E9; border-radius:10px; font-size:14px;" >
			
					<h6 style="color:#000;">
						<strong>
							<i> <font style="color:red;  font-size:14px;">Situations Global par année :</font> </i>	
						</strong>
					</h6>
					<center>
						<div class="form-group row">
						 
						 
						  	<label class="col-sm-1 col-form-label" for="nom" ><b>Année</b></label>
						  	<div class="col-sm-2">
								<input type="number" id="annee"  name="annee" placeholder="AAAA" class="form-control" />
							</div>

						  	 
						 <div class="col-sm-2">
						  	<button class="btn btn-success" type="submit" id="valider" name="Valider" title="Valider les informations" >	<i class="glyphicon glyphicon-print"></i> Imprimer</button> 
						</div>
						  </div>
				</center>
			
			
				</fieldset>
			
			</form>
			
			</center>

	</div>
	
</div>
<hr>
<section class="container">
	
	<div class="row">

		<div class = "col-md-12 col-sm-12 col-xs-12 table-responsive">
		
				<table class="dta-tbl table table-bordered table-striped text-center" >
				<center><div class="badged-title"><h4> <b>L</b>istes des reglements des Adhérents<br></div></center>
					<thead>
						 <tr>
							
							<th style="text-align: center"><b>MAtricule</b></th>
							<th style="text-align: center"><b>Nom & Prenom</b></th>
							<th style="text-align: center"><b>Montant(En  F CFA)</b></th>
							<th style="text-align: center"><b>Année</b></th>
							
						 </tr>
					 </thead>
					 <tbody>
						@for(c <-listes){
							 <tr>
							  <td>@c.getMatricule() </td>
								<td>@c.getNomAd() -- @c.getPrenomAd() </td>
								<td>@c.getTotalAnnuel()</td>
								<td>@c.getAnnee()</td>
								
								
							 </tr>
							}
					  </tbody>
				</table>
				
	
		</div>
	</div>
  </section>
  
  
}

